{% extends 'padre.html' %}

{%block ContenidoVariable %}

<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">¡Bienvenido!
        </article>

    </div>
</div>

<p> Mi nombre es Natalia Alves y, si bien a penas estoy iniciando en el mundo de la programación, mi trayectoria estudiantil y laboral es amplia.</p>
<p> Tan amplia como para hacerme tomar la decisión de buscar en otro mundo. Y heme aquí.</p>
<p> Intentando unir muchos de esos conocimientos en un único sitio web.</p>


{% endblock ContenidoVariable %}


