{% extends 'padre.html' %}

{%block ContenidoVariable %}

<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">¡Bienvenido!</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>

¡Gracias por acompañarnos, {{usuario}}! ¡Esperamos que lo disfrutes!


{% endblock ContenidoVariable %}