{% extends 'padre.html' %}

{%block ContenidoVariable %}

<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">¡Bienvenido!
        </article>

        {% if url %}
            <img src="{{url}}" alt="avatar">
        {% endif %}
    </div>
</div>

{% if url %}
    <img src="{{url}}" alt="avatar">
{% endif %}

¡Gracias por acompañarnos, {{user.username}}! ¡Esperamos que lo disfrutes!




{% endblock ContenidoVariable %}