{% extends 'padre.html' %}

{%block ContenidoVariable %}

<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">¡Añade una nueva función!</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>


    <form action="{% url 'CineFormulario' %}" method="post">{% csrf_token %}

        <P></P>
        <P></P>
        {{FormuCine.as_p}}

        <button type="submit">Enviar</button>

    </form>




{%endblock ContenidoVariable %}