{% extends 'padre.html' %}
{%block ContenidoVariable %}

        
    <div class="overlay">
        <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h5 class="heading">Añade nuevas funciones:</h>
            <p></p>
        </article>
        <!-- ################################################################################################ -->
        </div>
    </div>

    

                <form action="{% url 'DanzaFormulario' %}" method="post">{% csrf_token %}

                    <P></P>
                    <P></P>
                    {{FormuDanza.as_p}}

                    <button type="submit">Enviar</button>

                </form>


{%endblock ContenidoVariable %}






