{% extends 'padre.html' %}
{%block ContenidoVariable %}

        
    <div class="overlay">
        <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h5 class="heading">¡Déjate llevar al ritmo que toque!</h>
            <p></p>
        </article>
        <!-- ################################################################################################ -->
        </div>
    </div>

<h1>Bienvenido a nuestra sección dedicada a la danza</h1>
<p></p>
<h3>El arte de la expresión corporal</h3>
<div></div>
<p> Aquí podrás añadir las nuevas funciones disponibles en las salas:</p>
<p> </p>
<p> </p>

<a href="{% url 'DanzaFormulario' %}"> Añadir obra</a>

{%endblock ContenidoVariable %}