{% extends 'padre.html' %}

{%block ContenidoVariable %}


        
    <div class="overlay">
        <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">Un listado de los lugares más recomendados</h3>
            <p></p>
        </article>
        <!-- ################################################################################################ -->
        </div>
    </div>

    <p></p>
    <strong><h4>Locales</h4></strong>

    <p></p>

    <p></p>
    
    <h5> Listado de todos los lugares recomendados:</h5>
    
            <p></p>
        <ul>

            {% for local in locales_comida %} 
                <li>  
                    <a href="{%url 'DetalleGastronomia' local.id %}">
                        {{local}}     
                    </a>    
                </li>

                <div style="display: flex; column-gap: 10px;">
                    <button>
                        <a href="{% url 'ActualizaGastronomia' local.id %}"> Actualizar </a>
                    </button>
                    
                    <button>
                        <a href="{% url 'EliminaGastronomia' local.id %}"> Eliminar </a>
                    </button>
                </div>


            {% endfor %}

        </ul>


{%endblock ContenidoVariable %}