{% extends 'padre.html' %}

{%block ContenidoVariable %}


        
    <div class="overlay">
        <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">Para deleitarse...:</h3>
            <p></p>
        </article>
        <!-- ################################################################################################ -->
        </div>
    </div>

<h1> Algunos de los muchos pequeños grandes lugares para disfrutar </h1>
<p> </p>

<p> Encuentra una larga lista de los lugares más recomendados por nuestro público, ¡y verificado por nuestros especialistas!</p>

Haz click en el siguiente botón para acceder al detalle de todos los locales que recomendamos:
<p></p>

                    <button>
                        <a href="{% url 'ListaGastronomia' %}"> Listado </a>
                    </button>
<p></p>
                    Y también puedes...:
<p></p>
                    <a href="{% url 'GastronomiaFormulario' %}"> Añadir local </a>

{%endblock ContenidoVariable %}