{% extends 'padre.html' %}
{%block ContenidoVariable %}


<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">¡Añade un nuevo local!</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>

   

            <form action="{% url 'GastronomiaFormulario' %}" method="post">{% csrf_token %}

                <P></P>
                <P></P>
                {{GastronomiaFormulario.as_p}}

                <button type="submit">Enviar</button>

            </form>


    {%endblock ContenidoVariable %}