{% extends 'padre.html' %}



{% block ContenidoVariable %}
        
<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h5 class="heading">En nuestra sección dedicada al teatro...</h>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>



    <p></p>
    <h4> Listado de todas las obras teatrales de nuestras salas:</h4>
    
            <p></p>
            <ul>

                {% for obra in lista_obras %} 

                <li> {{obra.nombre}} - {{obra.genero}}</li>
 

                {% endfor %}


            </ul>

    <h4> Y también puedes...</h4>

            <a href="{% url 'BusquedaTeatro' %}"> Consultar </a>
            <p></p>
            <a href="{% url 'TeatroFormulario' %}"> Añadir obra</a>
    
    

{%endblock ContenidoVariable %}