{% extends 'padre.html' %}
{%block ContenidoVariable %}

        
    <div class="overlay">
        <div id="pageintro" class="hoc clear"> 
        <!-- ################################################################################################ -->
        <article>
            <h5 class="heading">¡Déjate llevar al ritmo que toque!</h>
            <p></p>
        </article>
        <!-- ################################################################################################ -->
        </div>
    </div>
    <h4> Listado de todas las funciones de danza de nuestras salas:</h4>
    
            <p></p>
            <ul>

                {% for lista_danza in listado_danza %} 

                    <li> <strong> {{lista_danza.nombre}} </strong>, recomendada a partir de {{lista_danza.edad}} años </li>

                {% endfor %}


            </ul>

    
    

{%endblock ContenidoVariable %}