{% extends 'padre.html' %}

{%block ContenidoVariable %}


<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">Grabaciones de ayer y hoy:</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>

    <p></p>
    <h4>Proyecciones clásicas e independientes</h4>

    <p></p>

    <p>Entendemos el complejo arte de la transmisión audiovisual como un don recibido por unos pocos, y altamente disfrutable por el resto.</p>
    <p> Defendemos que las filmaciones no sólo reflejan sueños, esperanzas o miedos. Representan nuestro ayer. Nuestro mañana.</p>
    <p>Pero, y principalmente, nuestro <strong> hoy </strong>.</p>
    <p>En este espacio encontrarás el detalle de las proyecciones que hemos tenido el placer de tener en nuestras salas.</p>

  
    <ul>

        {% for lista_cine in listado_cine %} 

            <li> <strong> {{lista_cine.nombre}} </strong>, apta a partir de {{lista_cine.edad_minima}} años.  <div> Género: {{lista_cine.genero}} </div></li>

        {% endfor %}


    </ul>

    Y también puedes...:
    <p></p>
                        <a href="{% url 'CineFormulario' %}"> Añadir filmación </a>








    





<!-- 
    <h5> Listado de todas las proyecciones de nuestras salas:</h5>
    
            <p></p>


    <h5> Y también puedes...</h5>

        <p></p>
        <a href="{% url 'CineFormulario' %}"> Añadir obra</a> -->

    
    

{%endblock ContenidoVariable %}