{% extends 'padre.html' %}

{%block ContenidoVariable %}


<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">Inicia sesión:</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>


<h1> Gracias por acompañarnos, esperamos que haya sido de tu interés y agrado.</h1>

<a href="{%url 'Inicial' %}"> Volver a Inicio</a>


{%endblock ContenidoVariable %}
