{% extends 'padre.html' %}

{% block ContenidoVariable %}
        
<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">¡Bienvenidos a nuestra página web cultural!</h3>
        <p>Porque sabemos que la cultura va mucho más allá de los estudios.</p>
        
        {% if url %}
            <img src="{{url}}" alt="avatar">
        {% endif %}
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>



<p> </p>
<p> Por el momento, esta será la plataforma en que la que los funcionarios carguen información.</p>
<p> El día de mañana, también será un sitio de consulta y de intercambio abierto al público en general.  </p>

<p><strong>----------------------------------------------------------------------------------------------------</p></strong>
<p><strong>----------------------------------------------------------------------------------------------------</p></strong>
<p></p>
<p> Aquí encontrarás el detalle de todas las funciones disponibles en nuestras diferentes salas.</p>
<p> Podrás ver tanto los próximos estrenos y eventos, así como parte de nuestra trayectoria cultural.</p>
<p> ¡Ven a visitarnos! Y no dudes en dejarnos tus comentarios y sugerencias.</p>



        
{% endblock ContenidoVariable %}