{% extends 'padre.html' %}

{%block ContenidoVariable %}


<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">Inicia sesión:</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>


<form action="{% url 'Registrar' %}" method="post">{% csrf_token %}

    <P></P>
    <P></P>

    {{miFormulario.as_p}}

    <button type="submit"> Registrar </button>

</form>




{%endblock ContenidoVariable %}