{% extends 'padre.html' %}

{%block ContenidoVariable %}

<div class="overlay">
    <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
        <h3 class="heading">El resultado de tu búsqueda fue:</h3>
        <p></p>
    </article>
    <!-- ################################################################################################ -->
    </div>
</div>

    <p></p>

    
    {% if obras_teatro %}

        <p> Estás buscando la obra titulada <strong>{{obra_teatro}}</strong></p>    
                
        <p>Los resultados que hemos obtenido con palabras similares son:</p>

            <ul>
                {%for obra in obras_teatro %}
                
                    <li>
                        
                        {{obra.nombre}} - {{obra.genero}}
                    
                    </li>

                {% endfor %}
            </ul>    

        {% else %}

            <h1>¡No hubo coincidencias en la búsqueda!</h1>


    {% endif %}

{%endblock ContenidoVariable %}
