{% extends 'padre.html' %}

{%block ContenidoVariable %}

<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h2 class="mb-5">El resultado de tu búsqueda fue:</h2>
                </div>
            </div>
        </div>
    </div>
</header> 

    <p></p>

    
    {% if obras_teatro %}

        <p> Estás buscando la obra titulada <strong>{{obra_teatro}}</strong></p>    
                
        <p>Los resultados que hemos obtenido con palabras similares son:</p>

            <ul>
                {%for obra in obras_teatro %}
                
                    <li>
                        
                        {{obra.nombre}} - {{obra.genero}}
                    
                    </li>

                {% endfor %}
            </ul>    

        {% else %}

            <p>¡No hubo coincidencias en la búsqueda!</p>


    {% endif %}

{%endblock ContenidoVariable %}
