{% extends 'padre.html' %}

{%block ContenidoVariable %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h2 class="mb-5"> ¡Añade una nueva obra! </h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form action="{% url 'TeatroFormulario' %}" method="post">{% csrf_token %}

        <P></P>
        <P></P>
        {{FormuTeatro.as_p}}

        <button type="submit">Enviar</button>

    </form>


{%endblock ContenidoVariable %}